main{
    padding: 1em;
}

.storyList{
    padding: 0 1em;
    .story{
        padding: 1em 0;
    }

}
.storyTitle{     
    a{
     text-decoration: none;
     transition: 0.4s all;
     color: rgb(128, 40, 6);
    }
    a:hover{
     transition: 0.4s all;
     color: rgb(88, 27, 3);
    }
 }
 .storyDetails{
     padding-bottom: 1em;
     border-bottom: 1px solid rgba(0,0,0,0.1);
     span{
         margin-right: 1em;
         font-weight: bold;
     }
     strong{
         margin-right: 1em;
     }
 }

.comment {
    margin-bottom: 1.5em;
}
.commentUser{
    font-size: 0.9rem;
    font-weight:bold;
    margin-bottom:0.5rem;
}
.commentContent{
    font-size: 0.9rem;
}

.commentContent p{
    margin:0;
    margin-bottom: 0.5em;
    word-wrap: break-word;
}
.commentContent a{
    color: #f60;
    text-decoration: underline;
}
.commentContent pre{
    max-width: 100%;
    overflow: scroll;
}

.nestedComments{
    margin-top: 1em;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 1em;
}